# Logging Configuration
LOGGING__LEVEL=info
LOGGING__FORMAT=[%(asctime)s.%(msecs)03d] %(module)10s:%(lineno)-3d %(levelname)-7s - %(message)s
LOGGING__DATE_FORMAT=%Y-%m-%d %H:%M:%S

# Telegram Configuration
TELEGRAM__TOKEN=your_telegram_bot_token_here

# Verbum Configuration
VERBUM__URL=your_verbum_api_url_here

# Database Configuration
# Production: postgresql+asyncpg://<user>:<pass>@urlshortener-database:5432/slouka
DATABASE__URL=postgresql+asyncpg://backend:backendpassword123@slouka-database:5432/backend
DATABASE__ECHO=false
DATABASE__ECHO_POOL=false
DATABASE__POOL_SIZE=50
DATABASE__MAX_OVERFLOW=10
DATABASE__POOL_PRE_PING=true
DATABASE__POOL_TIMEOUT=30

# Redis Configuration
# Production: redis://shared-redis:6379
REDIS__URL=redis://slouka-redis:6379
